---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";
$serif-font-family: "Cormorant Garamond", serif;
$sans-serif-font-family: "Acme", sans-serif;
$monospace-font-family: Menlo, Consolas, Monaco, "Courier New", Courier,
monospace;

$base-font-family: $sans-serif-font-family;
$headline-font-family: $sans-serif-font-family;
$title-font-family: $serif-font-family;
$description-font-family: $serif-font-family;
$meta-font-family: $serif-font-family;
@import "so-simple";
